
a,.tp-caption a.btn:hover {
	color: #a42a4e;
}
.top-nav-collapse {
	background: #a42a4e;
}
.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	color: #a42a4e;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #a42a4e;
}

.widget-avatar .avatar:hover {
    border: 5px solid #a42a4e;
}

.bg-skin {
	background: #a42a4e;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
	border-color: #a42a4e;
}

footer {
    background-color: #a42a4e;
}

.btn-skin {
  color: #fff;
  background-color: #a42a4e;
  border-color: #a42a4e;
}

.parent-login{
    background-color: #f0f0f0;
}

.ui-widget-header,.ui-state-default, ui-button {
    background: #a42a4e;
}

.ui-state-default .ui-icon {
    background-image: url('/img/ui-icons_a42a4e_256x240.png');
}

.ui-state-default, .ui-widget-content, .ui-state-default {
    color: #666;
}

.main {
    padding-top: 110px;
    position: relative;
}

.panel {
    margin-top: 20px;
}

.panel-login > .row {
    padding: 5px 0px;
}

.panel-admin {
	margin-top: 20px;
	padding-left: 30px;
	border-color: #D6E9C6;
}
.panel-home {
	margin-top: 20px;
	padding: 30px;
	border-color: #D6E9C6;
}

